body {
    font-family: Google Sans, Arial, Helvetica, sans-serif;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.links > a {
    font-size: 17px;
    margin: 5px;
    padding: 10px;
}